.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 90% 90%;
	gap: 10px;
}

.box11{
		border-style: solid;
}

#red1 {
width: 100%;}


.box12{
		border-style: solid;
}

.box13{
		border-style: solid;
}

.box14{
		border-style: solid;
}

.box15{
		border-style: solid;
}

.box16{
		border-style: solid;
}